/* This is how you add comments in CSS */

body {
    font-family: Arial, Verdana, sans-serif;
    background-color: lightseagreen ;
}
h2 {
    font-family: 'Rock Salt','Bradley Hand', sans-serif
}
/*quotes are needed for font names with a space in them*/

ul{
    background-color: rgb(75,75,42,0.7);
}
